ion-content {
    --background: black !important;
}
.male-profile-bg {
    height: 30%;
    background-image: url('../../../assets/profile-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.female-profile-bg {
    height: 30%;
    background-image: url('../../../assets/girl-profile-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.profile-img {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -50px;
    left: 40%;
    border: 5px solid white;
}

.user-info {
    margin-top: 50px;
}

.input-box {
    border-radius: 10px;
    background-color: #121212;
    padding-left: 10px !important;
}

.input-label {
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 10px !important;
}

ion-item {
    --background: black;
}