<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" class="font-weight-600 font-20"></ion-back-button>
    </ion-buttons>
    <ion-title class="padding-0">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row [ngClass]="{'male-profile-bg': ACTIVE_USER?.gender !== 'female', 'female-profile-bg': ACTIVE_USER?.gender == 'female'}">
    <ion-avatar class="profile-img">
      <img alt="Silhouette of a person's head" [src]="ACTIVE_USER?.gender == 'male' ? '../../../assets/profile-boy.avif': '../../../assets/girl-profile.avif'" />
    </ion-avatar>
  </ion-row>
  <ion-list class="user-info bg-black">
    <ion-item lines="none bg-black">
      <ion-label class="input-label" position="stacked">Name</ion-label>
      <ion-input class="input-box" type="url" placeholder="erikheinz.com" [value]="ACTIVE_USER?.name"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="input-label" position="stacked">Email</ion-label>
      <ion-input class="input-box" type="email" placeholder="erikheinz@email.com"
        [value]="ACTIVE_USER?.email">
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="input-label" position="stacked">Phone number</ion-label>
      <ion-input class="input-box" type="tel" placeholder="(555) 555-1234" [value]="ACTIVE_USER?.phoneNumber">
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="input-label" position="stacked">Gender</ion-label>
      <ion-input class="input-box" type="password" placeholder="Gender" [value]="ACTIVE_USER?.gender">
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="shadow-none" style="background-color: #121212;">
  <ion-button style="color:#D13200 !important" class="capitalize-text font-16" fill="clear" (click)="logOut()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Logout
  </ion-button>
</ion-footer>