<ion-content class="container">
  <ion-img class="bg-black height-250" src="../../../assets/login-bg.png"></ion-img>
  <div class="bg-black full-width center-content no-scroll">
    <div class=" full-width center-text padding-20" [hidden]="visibleBlock==='otp'">

      <ion-list class="padding-0 bg-black">
        <ion-item lines="none">
          <ion-input class="input" labelPlacement="stacked" placeholder="Name" [(ngModel)]="Form.name">
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-input labelPlacement="stacked" placeholder="Email" [(ngModel)]="Form.email"
            (ngModelChange)="validateEmail()">
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>
        <p *ngIf="isEmailValid" class="font-12 start-text color-red margin-0">Please enter a valid email</p>
      </ion-list>

      <ion-button [disabled]="isEmailValid || !Form.email || !Form.name" class="height-50 capitalize-text margin-top-30 font-16"
        shape="round" expand="block" (click)="sendOtp()">
        <ion-icon slot="start" name="checkmark-circle-outline" *ngIf="otpSent"></ion-icon>
        {{sendOtpButtonText}}
      </ion-button>
    </div>
    <div class=" full-width center-text padding-20" [hidden]="visibleBlock==='email'">
      <div class="text-align-center margin-top-10">
        <p class="font-weight-bold header-text font-20 header-line-height margin-0">
          Enter verification code</p>
        <p class="OTP-subheader-text margin-top-10 font-16">
          Please enter the verification code sent to
          <strong>{{Form.email}}</strong>
      </div>
      <div class="verification-code">
        <div class="verification-code--inputs">
          <ion-input type="tel" class="border cube border-radius-5 " #input1 [(ngModel)]="loginData.accessCode1"
            (keyup)="next(input2, '', loginData.accessCode1)" maxlength="1"></ion-input>
          <ion-input type="tel" class="border cube border-radius-5 " #input2 [(ngModel)]="loginData.accessCode2"
            (keyup)="next(input3, input1, loginData.accessCode2)" maxlength="1"></ion-input>
          <ion-input type="tel" class="border cube border-radius-5 " #input3 [(ngModel)]="loginData.accessCode3"
            (keyup)="next(input4, input2, loginData.accessCode3)" maxlength="1"></ion-input>
          <ion-input type="tel" class="border cube border-radius-5 " #input4 [(ngModel)]="loginData.accessCode4"
            (keyup)="next(input4,input3, loginData.accessCode4)" maxlength="1"></ion-input>
        </div>
      </div>
      <p class="font-14 color-red" [hidden]="isvalidOTP">Invalid OPT</p>
      <ion-button class="height-50 capitalize-text font-16 margin-top-30" shape="round" expand="block"
      [disabled]="!loginData.accessCode1 || !loginData.accessCode2 || !loginData.accessCode3 || !loginData.accessCode4"
        (click)="Login()">
        Login
      </ion-button>
    </div>
  </div>


</ion-content>

<ion-footer class="bg-black shadow-none">
  <div class="display-flex justify-content-center align-items-center">

    <ion-label class="black txt-white">New Member?</ion-label>
    <ion-button fill="clear" class="capitalize-text font-14 font-weight-bold" (click)="routeToRegister()">
      Register now
    </ion-button>
  </div>
</ion-footer>
