/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

 @import "@ionic/angular/css/palettes/dark.always.css"; 
@import "@ionic/angular/css/palettes/dark.class.css"; 
 @import "@ionic/angular/css/palettes/dark.system.css";

* {
  // color: white !important;
}

.txt-white {
  color: white !important;;
}

.height-250 {
  height: 250px !important;
}
.dark-bg { 
  background: #3f3f3f !important;
}
.max-available-height {
  height: -webkit-fill-available;
}

.height-70-percent {
  height: 70% !important;
}
.width-50px {
  width: 50px;
}

.padding-top-0 {
  padding-top: 0px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}
.padding-10 {
  padding: 10px !important;
}

.padding-20 {
  padding: 20px !important;
}

.black {
  color: #252525;
}

.input-box {
  border-radius: 10px;
  background-color: #3f3f3f;
  padding-left: 10px !important;
}

.bg-black {
  background: black !important;
}

.height-50 {
  height: 50px !important;
}

.color-red {
  color: red !important;
}

.center-text {
  text-align: center !important;
}

.start-text {
  text-align: start !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.display-flex {
  display: flex !important;
  ;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.font-16 {
  font-size: 16px !important;
}
.font-12 {
  font-size: 12px !important;
}

.height-fit-content {
  height: fit-content !important;
}

.shadow-none {
  box-shadow: none !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-14 {
  font-size: 14px !important;
}

.padding-0 {
  padding: 0px !important;
}

.margin-0 {
  margin: 0px !important;
}
.float-right {
  float: right !important;;
}
.icon-25 {
  width: 25px !important;
  height: 25px !important;
}
.font-20 {
  font-size: 20px !important;
}

.min-width-40 {
  min-width: 40px;
}
.margin-top-3 {
  margin-top: 3px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-left-10 {
  margin-left:  10px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.capitalize-text {
  text-transform: capitalize !important;
}

.bg-white {
  background-color: white;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


ion-select  {
  ion-label {

    float: right !important;
  }
}

.ion-item {
  --inner-padding-bottom: 0px !important;
  --inner-padding-end: 0px !important;
  --inner-padding-start: 0px !important;
  --inner-padding-top: 0px !important;
  --padding-bottom: 0px !important;
  --padding-end: 0px !important;
  --padding-start: 0px !important;
  --padding-top: 0px !important;
}

@media (max-width: 344px) {
  .cube-56 {
    height: 45px !important;
    width: 45px !important;
  }
}

@media (max-width: 300px) {
  .cube-56 {
    height: 40px !important;
    width: 40px !important;
  }
}

.border {
  border: 1px solid #6C63FF;
}

.border-radius-5 {
  border-radius: 5px;
}

.cube-56 {
  height: 56px;
  width: 56px;
}