.header-logo {
  height: 32px !important;
  width: auto !important;
}

.profile-avatar {
  padding: 3px !important;
  margin: 0px;
  padding: 0px;
  height: 38px !important;
  width: 38px !important;
  background-color: #e6e6e6 !important;
}

// f2f1ed
ion-content {
  --background: white !important;
}

.edit-btn .button-native {
  padding: 0px !important;
}
.ion-searchbar {

  --border-radius: 5px !important;
}