.header-logo {
    height: 32px !important;
    width: auto !important;
  }

  .profile-avatar {
    padding: 3px !important;
    margin: 0px;
    padding: 0px;
    height: 38px !important;
    width: 38px !important;
    background-color: #e6e6e6 !important;
  }

  ion-content {
    --background: #f2f1ed !important;
}

.edit-btn .button-native{
    padding: 0px !important;
}