<ion-header no-border>
  <ion-toolbar no-border>
    <ion-item lines="none" class="margin-0  ion-item ">

      <div slot="start">
        <img class="header-logo" src="../../../assets/default-logo.png">
      </div>

      <ion-avatar slot="end" [routerLink]="['/profile']" class="margin-left-0 min-width-40">
        <img class="profile-avatar" src="{{profilePicture}}" onerror="src='../../../assets/profile.svg'">
      </ion-avatar>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>

    <ion-searchbar></ion-searchbar>

  </ion-row>
  <ion-row>
    <ion-col size="6" *ngFor="let user of users">
      <ion-card class="margin-0">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>{{user?.name}}</ion-card-title>
          <ion-card-subtitle>{{user?.phoneNumber}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p>

            <strong>Email: </strong> {{user?.email}}
          </p>
          <p>

            <strong>Gender: </strong> {{user?.gender}}
          </p>
          <p>

            <strong>Application Amount: </strong> ₹{{user?.amount}}
          </p>

          <ion-button (click)="presentActionSheet()" fill="clear" class="padding-0 float-right edit-btn"
            color="light-gray">
            <ion-icon name="ellipsis-vertical-outline" color="light-gray"></ion-icon>
          </ion-button>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>